<div class="content_block">
  <pre ng-show="records">
    {{records}}
  </pre>
  <ul class="list_months">
  <a href="#"><button class="add">+</button></a>
  <h3>Rows</h3>

  <table class="table table-hover">
    <tr><th>Id</th><th>Name</th><th>Salary</th><th>MonthId</th><th>year</th><th>StartTime</th><th>EndTime</th><th>Break</th><th>Addition</th><th>ImgURI</th><th>Lng</th><th>Lat</th></tr>
    <!-- EXAMPLE -->
    <tr><td>0</td><td>MA 12</td><td>259.21</td><td>3</td><td>2016</td><td>08:00</td><td>16:00</td><td>0:30</td><td>pijnstillers gekocht onder werktijd</td><td>http://localhost/nodejs/adminpanel.html</td><td>svfdvfdvdfvfdvfdfv4343546</td><td>L34554tgfgbhnhnngnfghnghnat</td></tr>
    <tr><td>0</td><td>MA 12</td><td>259.21</td><td>3</td><td>2016</td><td>08:00</td><td>16:00</td><td>0:30</td><td>pijnstillers gekocht onder werktijd</td><td>http://localhost/nodejs/adminpanel.html</td><td>svfdvfdvdfvfdvfdfv4343546</td><td>L34554tgfgbhnhnngnfghnghnat</td></tr>
    <tr><td>0</td><td>MA 12</td><td>259.21</td><td>3</td><td>2016</td><td>08:00</td><td>16:00</td><td>0:30</td><td>pijnstillers gekocht onder werktijd</td><td>http://localhost/nodejs/adminpanel.html</td><td>svfdvfdvdfvfdvfdfv4343546</td><td>L34554tgfgbhnhnngnfghnghnat</td></tr>
    <tr><td>0</td><td>MA 12</td><td>259.21</td><td>3</td><td>2016</td><td>08:00</td><td>16:00</td><td>0:30</td><td>pijnstillers gekocht onder werktijd</td><td>http://localhost/nodejs/adminpanel.html</td><td>svfdvfdvdfvfdvfdfv4343546</td><td>L34554tgfgbhnhnngnfghnghnat</td></tr>
    <tr><td>0</td><td>MA 12</td><td>259.21</td><td>3</td><td>2016</td><td>08:00</td><td>16:00</td><td>0:30</td><td>pijnstillers gekocht onder werktijd</td><td>http://localhost/nodejs/adminpanel.html</td><td>svfdvfdvdfvfdvfdfv4343546</td><td>L34554tgfgbhnhnngnfghnghnat</td></tr>
     <!-- EXAMPLE -->
  </table>
  </ul>

  <div style="clear: both"></div>
</div>
