<div class="content_block users">

		<ul class="list_months">
    <!-- <a href="#"><button class="add">+</button></a> -->
		<a ui-sref="admin.addUser"><button class="add">+</button></a>
			<h3>Users</h3>
			<!-- TODO: uit de backend -->
      <table class="table table-hover">
        <tr><th>_Id</th><th>Firstname</th><th>Lastname</th><th>Username</th><th>Password</th></tr>
        <!-- EXAMPLE -->
        <tr><td>1</td><td>Ryan</td><td>Smith</td><td>Ryantrilovitsch</td><td>Tralaaaa</td></tr>
        <tr><td>1</td><td>Ryan</td><td>Smith</td><td>Ryantrilovitsch</td><td>Tralaaaa</td></tr>
        <tr><td>1</td><td>Ryan</td><td>Smith</td><td>Ryantrilovitsch</td><td>Tralaaaa</td></tr>
        <tr><td>1</td><td>Ryan</td><td>Smith</td><td>Ryantrilovitsch</td><td>Tralaaaa</td></tr>
         <!-- EXAMPLE -->
      </table>
		</ul>

		<div style="clear: both"></div>
</div>
